{% extends 'app/basepersonal.html' %}

{% block personinner %}
<div id="wp" class="wp"><div id="pt" class="bm cl">
<div class="z">
<a href="./" class="nvhm" title="首页">万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流</a> <em>›</em>
<a href="home.php?mod=spacecp">设置</a> <em>›</em>积分
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">积分
</h1>
<ul class="tb cl">
<li class="a"><a href="home.php?mod=spacecp&amp;ac=credit&amp;op=base">我的积分</a></li>
<li><a href="home.php?mod=spacecp&amp;ac=credit&amp;op=log">积分记录</a></li>
<li><a href="home.php?mod=spacecp&amp;ac=credit&amp;op=rule">积分规则</a></li>
</ul><ul class="creditl mtm bbda cl"><li class="xi1 cl"><em> 金钱: </em>5 &nbsp; </li>
<li><em> 威望: </em>0 </li>
<li><em> 贡献: </em>0 </li>
<li class="cl"><em>积分: </em>5 <span class="xg1">( <u>总积分</u>=<u>发帖数</u>+<u>精华帖数</u>X5+<u>威望</u>X2+<u>金钱</u>+<u>贡献</u> )</span></li>
</ul>
<table summary="转账与兑换" cellspacing="0" cellpadding="0" class="dt mtm">
<caption>
<h2 class="mbm xs2">
<a href="home.php?mod=spacecp&amp;ac=credit&amp;op=log" class="xi2 xs1 xw0 y">查看更多»</a>积分记录
</h2>
</caption>
<tbody><tr>
<th width="80">操作</th>
<th width="80">积分变更</th>
<th>详情</th>
<th width="100">变更时间</th>
</tr>
<tr><td colspan="4"><p class="emp">目前没有积分交易记录</p></td></tr>
</tbody></table>
</div>
</div>
<div class="appl"><div class="tbn">
<h2 class="mt bbda">设置</h2>
<ul>
<li><a href="home.php?mod=spacecp&amp;ac=avatar">修改头像</a></li>
<li><a href="home.php?mod=spacecp&amp;ac=profile">个人资料</a></li>
<li class="a"><a href="home.php?mod=spacecp&amp;ac=credit">积分</a></li>
<li><a href="home.php?mod=spacecp&amp;ac=usergroup">用户组</a></li>
<li><a href="home.php?mod=spacecp&amp;ac=privacy">隐私筛选</a></li>
<li><a href="home.php?mod=spacecp&amp;ac=profile&amp;op=password">密码安全</a></li>
<li><a href="home.php?mod=spacecp&amp;ac=promotion">访问推广</a></li>
</ul>
</div></div>
</div> </div>


{% endblock personinner %}