{% extends 'app/basepersonal.html' %}

{% block personinner %}
<div id="wp" class="wp"><div id="pt" class="bm cl">
<div class="z">
<a href="./" class="nvhm" title="首页">万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流</a> <em>›</em>
<a href="http://127.0.0.1:8000/bspromotion/">设置</a> <em>›</em>访问推广
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">访问推广
</h1>
<div class="bbda pbm mbm">
<p>
如果您的朋友通过下面任意一个链接访问站点，您将获得积分奖励 <span class="xi1">金钱+1&nbsp;</span>
</p><p>
如果您的朋友不但访问并且注册成为会员，您将再获得积分奖励 <span class="xi1">金钱+2&nbsp;</span>
</p>
</div>
<table cellspacing="0" cellpadding="0" class="tfm">
<tbody><tr>
<th colspan="2" class="xs2 xw1">方式一：</th>
</tr>
<tr>
<th>推广链接1</th>
<td class="pns">
<input type="text" class="px vm" onclick="this.select();setCopy('Stefanan邀请您访问万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流'+'\n'+this.value, '推广链接复制成功');" value="http://www.wbi.cn/?fromuid=5709" size="50">
<button type="submit" class="pn vm" onclick="setCopy('Stefanan邀请您访问万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流'+'\n'+'http://www.wbi.cn/?fromuid=5709', '推广链接复制成功');"><em>复制</em></button>
</td>
</tr>
<tr>
<th>推广链接2</th>
<td class="pns">
<input type="text" class="px vm" onclick="this.select();setCopy('Stefanan邀请您访问万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流'+'\n'+this.value, '推广链接复制成功');" value="http://www.wbi.cn/?fromuser=Stefanan" size="50">
<button type="submit" class="pn vm" onclick="setCopy('Stefanan邀请您访问万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流'+'\n'+'http://www.wbi.cn/?fromuser=Stefanan', '推广链接复制成功');"><em>复制</em></button>
</td>
</tr>
<tr>
<th colspan="2" class="xs2 xw1 ptw">方式二：</th>
</tr>
<tr>
<th colspan="2">通过点击帖子标题旁的“复制链接”，推广成功后也可以获得积分奖励 &nbsp; <a href="forum.php" class="xi2">去推广帖子»</a></th>
</tr>
</tbody></table>
</div>
</div>
<div class="appl"><div class="tbn">
<h2 class="mt bbda">设置</h2>
<ul>
<li><a href="http://127.0.0.1:8000/bsavatar/">修改头像</a></li>
<li><a href="http://127.0.0.1:8000/bsprofile/">个人资料</a></li>
<li><a href="http://127.0.0.1:8000/bscredit/">积分</a></li>
<li><a href="http://127.0.0.1:8000/bsusergroup/">用户组</a></li>
<li><a href="http://127.0.0.1:8000/bsprivacy/">隐私筛选</a></li>
<li><a href="http://127.0.0.1:8000/bspwsafe/">密码安全</a></li>
<li class="a"><a href="http://127.0.0.1:8000/bspromotion/">访问推广</a></li>

</ul>
</div></div>
</div> </div>


{% endblock personinner %}