{% extends 'app/basepersonal.html' %}

{% block personinner %}
<div id="wp" class="wp"><div id="pt" class="bm cl">
<div class="z">
<a href="./" class="nvhm" title="首页">万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流</a> <em>›</em>
<a href="home.php?mod=spacecp">设置</a> <em>›</em>用户组
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">用户组
</h1>
<ul class="tb cl">
<li><a href="http://101.132.64.111/bsusergroup/">我的用户组</a></li>
<li class="a"><a href="http://101.132.64.111/bsugbuy/">购买用户组</a></li>
<li><a href="http://101.132.64.111/bsugmine/">我的论坛权限</a></li>
</ul><p class="tbmu"><span class="y">
您目前有 <span class="xi1"> 5 金钱</span></span>
当前用户组: 新手上路</p>
<p class="emp">抱歉！本站尚未开通可供购买的用户组</p>
</div>
</div>
<div class="appl"><div class="tbn">
<h2 class="mt bbda">设置</h2>
<ul>
<li><a href="http://101.132.64.111/bsavatar/">修改头像</a></li>
<li><a href="http://101.132.64.111/bsprofile/">个人资料</a></li>
<li><a href="http://101.132.64.111/bscredit/">积分</a></li>
<li class="a"><a href="http://101.132.64.111/bsusergroup/">用户组</a></li>
<li><a href="http://101.132.64.111/bsprivacy/">隐私筛选</a></li>
<li><a href="http://101.132.64.111/bspwsafe/">密码安全</a></li>
<li><a href="http://101.132.64.111/bspromotion/">访问推广</a></li>
</ul>
</div></div>
</div>
</div>



{% endblock personinner %}