{% extends 'app/base.html' %}

{% load myTag %}

{% block inner %}
<div id="wp" class="wp">
    <style id="diy_style" type="text/css"></style>
    <div class="wp">
        <div id="diy1" class="area"></div>
    </div>

    <div class="sige_z">
        <div class="sige_z_z">
            <div id="diyslides" class="area"></div>
        </div>
        <div class="sige_z_y">
            <div id="diyheadline" class="area"></div>
        </div>
        <div class="clear"></div>
        <div id="diyimg" class="area"></div>
    </div>
    <script src="template/bygsjw/image/js/jquery.min.js" type="text/javascript"></script>
    <script src="template/bygsjw/image/js/slide.js" type="text/javascript"></script>
    <script type="text/javascript">
        var jq = jQuery.noConflict();
        jQuery(document).ready(function () {
            TouchSlide({
                slideCell: "#byg_slide",
                mainCell: ".slide_bd ul",
                titCell: ".slide_hd ul",
                effect: "leftLoop",
                autoPage: true,
                autoPlay: true,
                interTime: 3500
            });
        });
    </script>
    <script src="template/bygsjw/image/js/headline.js" type="text/javascript"></script>
    <div class="sige_y">
        <div id="diytab" class="area"></div>
    </div>
    <div class="clear"></div>
    <div id="ct" class="wp cl">
        <div class="mn">
            <div id="diyimgtext" class="area"></div>
            <div id="diyxin1" class="area"></div>

            <div id="chart" class="bm bw0 cl">
                <ul class="z">
                    <li class="today">今日: <em>1752</em></li>
                    <li class="yesterday">昨日: <em>0</em></li>
                    <li class="posts">帖子: <em>60080</em></li>
                    <li class="members">会员: <em>5721</em></li>
                    <li class="new_members">欢迎新会员: <em><a href="home.php?mod=space&amp;username=%E5%B8%81%E8%9B%8B"
                                                          target="_blank" class="xi2">币蛋</a></em></li>
                </ul>
                <div class="z"></div>
                <div class="y">
                    <a href="forum.php?mod=guide&amp;view=new" title="最新回复" class="xi2">最新回复</a></div>
            </div>
            <div id="diy_chart" class="area"></div>
            <div class="fl bm">
                {% for bt in btitles %}

                <div class="bm bmw  cl">
                    <div class="bm_h cl">
<span class="o">
<img id="category_1_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开"
     onclick="toggle_collapse('category_1');">
</span>
<!--                        <h2><a href="forum.php?gid=1" style="">{{ bt.btitle }}</a></h2>-->
<!--                        <h2><a href="http://101.132.64.111/baseposts/{{ bt.bid }}/1" style="">{{ bt.btitle }}</a></h2>-->
                        <h2><a href="http://101.132.64.111/baseposts/{{ bt.bid }}/" style="">{{ bt.btitle }}</a></h2>
<!--                        <h2><a href="{% url 'app:baseposts' bt.bid %}" style="">{{ bt.btitle }}</a></h2>-->

                    </div>
                    <div id="category_1" class="bm_c" style="">
                        <table cellspacing="0" cellpadding="0" class="fl_tb">
                            <tbody>

                            {% for st in stitles %}
                            {% if st.bid == bt.bid %}
                            <tr>
                                <td class="fl_icn">
<!--                                    <a href="forum.php?mod=forumdisplay&amp;fid=2"><img-->
                                    <a href=""><img
                                            src="static/image/common/forum_new.gif" alt="BTC (Bitcoin)-比特币"></a>
                                </td>
                                <td>

<!--                                    <h2><a href="forum.php?mod=forumdisplay&amp;fid=2">{{ st.stitle }}</a><em-->
                                    <h2><a href="http://101.132.64.111/postslist/{{ st.sid }}/">{{ st.stitle }}</a><em
                                            class="xw0 xi1" title="今日"> ({% get_num st.sid %})</em></h2>
<!--                                            class="xw0 xi1" title="今日"> ()</em></h2>-->
                                </td>
                                <td class="fl_i">
                                    <span class="xi2"><span title="14095">1万</span></span><span class="xg1"> / <span
                                        title="14125">1万</span></span></td>
                                <td class="fl_by">
                                    <div>
                                        <a href="forum.php?mod=redirect&amp;tid=80468&amp;goto=lastpost#lastpost"
                                           class="xi2">月入千万， “疯狂”的矿工要飞 ...</a> <cite><span title="2019-8-13 15:55">3&nbsp;小时前</span>
                                        <a href="home.php?mod=space&amp;username=POC%E7%9F%BF%E5%B7%A5%E4%BA%A4%E6%B5%81%E4%B9%8B%E5%AE%B6">POC矿工交流之家</a></cite>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                            <!--修改至此-->
                            <tr class="fl_row">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
                <div class="bm bmw  cl">
                    <!--修改至此-->
                </div>
            </div>
            <div class="wp mtn">
                <div id="diy3" class="area"></div>
            </div>
            <div id="online" class="bm oll">
                <div class="bm_h">
                    <span class="o"><a href="forum.php?showoldetails=no#online" title="收起/展开"><img
                            src="static/image/common/collapsed_no.gif" alt="收起/展开"></a></span>
                    <h3>
                        <strong><a
                                href="home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">在线会员</a></strong>
                        <span class="xs1">- <strong>57</strong> 人在线
- <strong>4</strong> 会员(<strong>0</strong> 隐身),
<strong>53</strong> 位游客
- 最高记录是 <strong>1164</strong> 于 <strong>2019-7-21</strong>.</span>
                    </h3>
                </div>
                <dl id="onlinelist" class="bm_c">
                    <dt class="ptm pbm bbda"><img src="static/image/common/online_admin.gif"> 管理员 &nbsp; &nbsp; &nbsp;
                        <img src="static/image/common/online_supermod.gif"> 超级版主 &nbsp; &nbsp; &nbsp; <img
                                src="static/image/common/online_moderator.gif"> 版主 &nbsp; &nbsp; &nbsp; <img
                                src="static/image/common/online_member.gif"> 会员 &nbsp; &nbsp; &nbsp;
                    </dt>
                    <dd class="ptm pbm">
                        <ul class="cl">
                            <li title="时间: 19:14">
                                <img src="static/image/common/online_member.gif" alt="icon">
                                <a href="home.php?mod=space&amp;uid=5709">Stefanan</a>
                            </li>
                            <li title="时间: 19:12">
                                <img src="static/image/common/online_member.gif" alt="icon">
                                <a href="home.php?mod=space&amp;uid=5609">贾荣婷</a>
                            </li>
                            <li title="时间: 19:10">
                                <img src="static/image/common/online_member.gif" alt="icon">
                                <a href="home.php?mod=space&amp;uid=5610">翻墙3ccc.cf</a>
                            </li>
                            <li title="时间: 19:09">
                                <img src="static/image/common/online_member.gif" alt="icon">
                                <a href="home.php?mod=space&amp;uid=5702">JamesNeign</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="bm lk">
                <div id="category_lk" class="bm_c ptm">
                    <ul class="m mbn cl">
                        <li class="mbm bbda">
                            <div class="lk_content"><h5><a href="https://www.aistudyblog.com/" target="_blank">AiStudy人工智能</a>
                            </h5>
                                <p>AiStudy人工智能</p></div>
                        </li>
                    </ul>
                    <ul class="x mbm cl">
                        <li><a href="http://www.400yun.cn" target="_blank" title="400电话申请">400电话申请</a></li>
                        <li><a href="http://www.seidon.club" target="_blank" title="区块链博客">区块链博客</a></li>
                        <li><a href="http://www.wbi.cn/" target="_blank" title="虚拟币">虚拟币</a></li>
                        <li><a href="http://www.wbi.cn/" target="_blank" title="区块链">区块链</a></li>
                        <li><a href="http://www.wbi.cn/" target="_blank" title="比特币">比特币</a></li>
                        <li><a href="http://hao.21bm.com" target="_blank" title="hao123导航">hao123导航</a></li>
                        <li><a href="http://www.beezhi.com" target="_blank" title="区块链">区块链</a></li>
                        <li><a href="http://www.xiaojiucai.vip" target="_blank" title="小韭菜">小韭菜</a></li>
                        <li><a href="http://www.licaiqihuo.cn" target="_blank" title="微期货">微期货</a></li>
                        <li><a href="http://www.nbcoin.cn/" target="_blank" title="牛币网">牛币网</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>fixed_top_nv();</script>
</div>
{% endblock inner %}