{% extends 'app/base.html' %}

{% block inner %}
    <div id="wp" class="wp">
{#        <script type="text/javascript">#}
{#            var strongpw = new Array();#}
{#            var pwlength = 6;#}
{#        </script>#}
{#        <script src="data/cache/register.js?Kb8" type="text/javascript"></script>#}
        <div id="ct" class="ptm wp cl">
            <div class="nfl" id="main_succeed" style="display: none">
                <div class="f_c altw">
                    <div class="alert_right">
                        <p id="succeedmessage"></p>
                        <p id="succeedlocation" class="alert_btnleft"></p>
                        <p class="alert_btnleft"><a id="succeedmessage_href">如果您的浏览器没有自动跳转，请点击此链接</a></p>
                    </div>
                </div>
            </div>
            <div class="mn">
                <div class="bm" id="main_message">
                    <div class="bm_h bbs" id="main_hnav">
<span class="y">
<a href="member.php?mod=logging&amp;action=login&amp;referer=http%3A%2F%2Fwww.wbi.cn%2F"
   onclick="showWindow('login', this.href);return false;" class="xi2">已有帐号？现在登录</a>
</span>
                        <h3 id="layer_reginfo_t" class="xs2">
                            立即注册</h3>
                    </div>
                    <p id="returnmessage4"></p>
                    <form method="post" autocomplete="off" name="register" id="registerform"
                          enctype="multipart/form-data" onsubmit="checksubmit();return false;"
                          action="http://101.132.64.111/register/">
                        <div id="layer_reg" class="bm_c">

                            <div class="mtw">
                                <div id="reginfo_a">
                                    <div class="rfm">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th><span class="rq">*</span><label for="username">用户名:</label></th>
                                                <td><input type="text" id="HYy335" name="username" class="px er"
                                                           tabindex="1" value="" autocomplete="off" size="25"
                                                           maxlength="15" required=""></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="rfm">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th><span class="rq">*</span><label for="password">密码:</label></th>
                                                <td><input type="password" id="ZQXDt7" name="password" size="25"
                                                           tabindex="1" class="px" required=""></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="rfm">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th><span class="rq">*</span><label for="repassword">确认密码:</label></th>
                                                <td><input type="password" id="xoEO0l" name="repassword" size="25"
                                                           tabindex="1" value="" class="px er" required=""></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="rfm">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th><span class="rq">*</span><label for="email">Email:</label></th>
                                                <td><input type="text" id="ikdWSt" name="email" autocomplete="off"
                                                           size="25" tabindex="1" class="px" value=""
                                                           required=""><br><em id="emailmore">&nbsp;</em></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <span id="seccode_cSr7rjk9">
                                        <input name="seccodehash" type="hidden"
                                                                       value="cSr7rjk9">
                                        <input name="code" type="hidden" value="member::register">
                                        <div class="rfm">
                                            <table>
                                                <tr><th><span class="rq">*</span>验证码: </th>
                                                    <td><input
                                            name="code" id="seccodeverify_cSr7rjk9" type="text"
                                            autocomplete="off" style="ime-mode:disabled;width:100px" class="txt px vm"
                                            ><img onclick="changeCode(this);" id="img" src="http://101.132.64.111/verifycode/" alt="aaa">
                                                    </td>

                                                </tr>

                                            </table>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="layer_reginfo_b">
                            <div class="rfm mbw bw0">
                                <table width="100%">
                                    <tbody>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <td>
<span id="reginfo_a_btn">
<em>&nbsp;</em><button class="pn pnc" id="registerformsubmit" type="submit" name="regsubmit" value="true"
                       tabindex="1"><strong>提交</strong></button>
</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="layer_regmessage" class="f_c blr nfl" style="display: none">
                    <div class="c">
                        <div class="alert_right">
                            <div id="messageleft1"></div>
                            <p class="alert_btnleft" id="messageright1"></p>
                        </div>
                    </div>
                    <div id="layer_bbrule" style="display: none">
                        <div class="c" style="width:700px;height:350px;overflow:auto"><br>
                            <br>
                            <br>
                        </div>
                        <p class="fsb pns cl hm">
                            <button class="pn pnc"
                                    onclick="$('agreebbrule').checked = true;hideMenu('fwin_dialog', 'dialog');"><span>同意</span>
                            </button>
                            <button class="pn" onclick="location.href='http://www.wbi.cn/'"><span>不同意</span></button>
                        </p>
                    </div>
                    <script type="text/javascript">
                        var ignoreEmail = false;
                        addFormEvent('registerform', 0);

                        function showBBRule() {
                            showDialog($('layer_bbrule').innerHTML, 'info', '万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流 网站服务条款');
                            $('fwin_dialog_close').style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock inner %}

<script>
    function changeCode(ogj) {
        obj.src="http://101.132.64.111/verifycode/"+Math.random();
    }
</script>