{% extends 'app/basepersonal.html' %}

{% block personinner %}
<div id="wp" class="wp"><div id="pt" class="bm cl">
<div class="z">
<a href="./" class="nvhm" title="首页">万币网-比特币论坛、以太坊社区，山寨币、虚拟币交流</a> <em>›</em>
<a href="home.php?mod=spacecp">设置</a> <em>›</em>用户组
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">用户组
</h1>
<ul class="tb cl">
<li><a href="http://127.0.0.1:8000/bsusergroup/">我的用户组</a></li>
<li><a href="http://127.0.0.1:8000/bsugbuy/">购买用户组</a></li>
<li class="a"><a href="http://127.0.0.1:8000/bsugmine/">我的论坛权限</a></li>
</ul><table cellpadding="0" cellspacing="0" class="tdat ftb mtm mbm">
<tbody><tr class="alt">
<th class="xw1">版块名称</th><td class="xw1">浏览版块</td>
<td class="xw1">发新话题</td>
<td class="xw1">发表回复</td>
<td class="xw1">下载附件</td>
<td class="xw1">上传附件</td>
<td class="xw1">上传图片</td>
</tr><tr>
<th><a href="forum.php?mod=forumdisplay&amp;fid=1">主流币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=2">BTC (Bitcoin)-比特币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=36">ETH (Ethereum)-以太坊</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=37">XRP (Ripple)-瑞波币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=38">BCH (Bitcoin Cash)-比特现金</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th><a href="forum.php?mod=forumdisplay&amp;fid=39">区块链</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=110">交易所</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=105">区块链</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=106">区块链应用</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=43">区块链游戏</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=112">Dapp</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th><a href="forum.php?mod=forumdisplay&amp;fid=107">挖矿&amp;ICO</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=109">ICO</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=108">挖矿</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th><a href="forum.php?mod=forumdisplay&amp;fid=40">山寨币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=113">山寨币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=42">EOS-柚子</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=44">XLM (Stellar)-恒星币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=45">LTC (Litecoin)-莱特币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=41">ADA (Cardano)-艾达币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=46">USDT (Tether USD)-泰达币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=47">XMR (Monero)-门罗币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=48">MIOTA (IOTA)-埃欧塔</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=49">TRX (Tron)-波场</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=50">ETC (Ethereum Classic)-以太经典</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=51">BNB (Binance Coin)-币安币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=52">DASH (DASH)-达世币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=63">ONT (Ontology)-本体</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=53">NEO-小蚁</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=54">XEM-新经币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=55">VET (VeChain)-唯链</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=56">BEC (Beauty Chain)-美币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=57">XTZ (Tezos)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=58">ZEC (Zcash)-大零币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=59">GRAMS (Telegram)-电报</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=60">OKB OKEX全球通用积分</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=61">OMG (OmiseGO)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=62">FIL (Filecoin)-IPFS</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=64">MOAC-墨客</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=65">LSK (Lisk)-应用链</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=66">HT (Huobi Token)-火币全球生态通证</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=67">QTUM-量子链</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=68">ZRX (0xProject)-0x协议</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=69">BTG (Bitcoin Gold)-比特币黄金</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=70">BCN (Bytecoin)-字节币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=72">DCR (Decred)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=71">BCD (Bitcoin Diamond)-比特币钻石</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=74">BTS (BitShares)-比特股</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=73">DOGE (DogeCoin)-狗狗币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=75">ZB (ZB Blockchain)-ZB生态</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=82">ICX (ICON)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=76">ZIL (Zilliqa)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=77">NANO (Nano)-纳诺</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=78">MKR (Maker)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=79">DGB (DigiByte)-极特币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=83">FT (FCoin Token)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=80">STEEM (STEEM)-斯蒂姆币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=84">XUC (Exchange Union)-雪币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=85">AE (Aeternity)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=86">WAVES -波币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=87">REP (Reputation)-信誉</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=88">BAT (Basic Attention Token)-注意力币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=89">XVG (Verge)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=90">SC (Siacoin)-云储币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=91">PAI (Project PAI)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=92">BTM (Bytom)-比原链</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=93">STRAT (Stratis)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=94">PPT (Populous)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=95">SWTC-斯微特</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=96">NPXS (Pundi X)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=97">RHOC (Rchain)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=98">BIX (BIX token)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=99">GNT (Golem)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=100">SNT (Status Network Token)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=101">AION</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=102">KMD (Komodo)</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr>
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=103">MITH (Mithril)-秘银币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
<tr class="alt">
<th style="padding-left:30px"><a href="forum.php?mod=forumdisplay&amp;fid=104">SBTC (Super Bitcoin)-超级比特币</a></th><td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
<td>
<img src="static/image/common/data_valid.gif" alt="data_valid"></td>
</tr>
</tbody></table>
<img src="static/image/common/data_valid.gif" alt="data_valid" class="vm"> 表示有权操作&nbsp;
<img src="static/image/common/data_invalid.gif" alt="data_invalid" class="vm"> 表示无权操作&nbsp;
</div>
</div>
<div class="appl"><div class="tbn">
<h2 class="mt bbda">设置</h2>
<ul>
<li><a href="http://127.0.0.1:8000/bsavatar/">修改头像</a></li>
<li><a href="http://127.0.0.1:8000/bsprofile/">个人资料</a></li>
<li><a href="http://127.0.0.1:8000/bscredit/">积分</a></li>
<li class="a"><a href="http://127.0.0.1:8000/bsusergroup/">用户组</a></li>
<li><a href="http://127.0.0.1:8000/bsprivacy/">隐私筛选</a></li>
<li><a href="http://127.0.0.1:8000/bspwsafe/">密码安全</a></li>
<li><a href="http://127.0.0.1:8000/bspromotion/">访问推广</a></li>
</ul>
</div></div>
</div>
</div>



{% endblock personinner %}